/.angular/cache
# Mac
.DS_STORE

# Node / Angular
node_modules
dist
npm-debug.log
yarn-error.log

# Yarn Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions