@media only screen and (min-width: 760px) {
	body {
		display: grid;
		grid-template-rows: 50% auto auto auto fr1; 
		grid-template-areas:
		"header"
		"search-section"
		"search-result"
		"stats"
		"footer";
	}
}


header {
	grid-area: header;
	background: #3D8B73;
	text-align: center;
	padding:5em;
}

.search-section {
	grid-area: search-section;
	background:#22735B;
	padding-top:30px;
	padding-bottom:30px;
}

#search-result {
	grid-area: search-result;
	background:#005E33;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}

.stats {
	grid-area: stats;
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	background:#0F3C28;
}

.stats > div{
	border:#fff 1px solid;
	padding:50px;
	text-align:center;
}

footer {
	grid-area: footer;
	background:#0F3C28;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}

#searchQuery{
	height:40px;
	width:600px;
}

#submitButton {
	width:80px;
	height:46px;
}