<mat-toolbar>
  <mat-toolbar-row>
    <span>Open Property</span>
    <div>
      <a
        mat-icon-button
        href="https://github.com/linhub15/open-property"
        aria-label="github repository link"
        target="_blank"
        title="Github repository"
      >
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a
        mat-icon-button
        href="https://data.edmonton.ca/City-Administration/Property-Assessment-Data-Historical-/qi6a-xuwt"
        aria-label="City of Edmonton Property Assessment Data"
        target="_blank"
        title="Edmonton Property Assessment Data Set"
      >
        <mat-icon svgIcon="data"></mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
