/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.centered-card {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3rem;
  max-width: 800px;
}

@media screen and (min-width: 800px) {
  .centered-card {
    margin-left: auto;
    margin-right: auto;
  }
}
