<mat-card class="centered-card">
  <mat-form-field>
    <input
      matInput
      [value]="searchValue$ | async"
      maxlength="30"
      placeholder="Address (123 Center Street NW)"
      (keyup)="search($event.target.value)"
    />
    <button
      mat-button
      *ngIf="searchValue$ | async"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <app-search-results></app-search-results>
</mat-card>

<app-property></app-property>
